%div.full.transit.transit-2
%footer.full
  %div.container
    %div.large-6.columns
      %div.social-icons
        - @channels.each do |channel|
          %a.social-icon{href: "#{channel.link}"}
            %i{class: "fi-social-#{channel.name}"}
      %div.copyright
        Bản quyền thuộc về Volcano.vn
    %div.large-5.columns.right
      %div.row
        %i.icon-pin
          Số 40 Hòa Mã, Hai Bà Trưng, Hà Nội.
      %div.row
        %i.icon-iphone
          0902.040.040 - 0904.700.087
      %div.row
        %i.icon-envelope
          sales@aodongphuc.com
