.order {
    .full {
        background-color: #f9f9f9;
    }
    .title {    
        border: 0;
        color: $primary-color;
        font-weight: bold;
        text-transform: uppercase;
    }
}

@media #{$large} {
    .order {
        textarea {
            height: 200px;
            resize: none;
        }
        input.button {
            border-radius: 5px;
            font-weight: bold;
            height: 40px;
            padding-top: rem-calc(10);
            text-transform: uppercase;
        }
        .title {
            @include grid-column($columns: 2);
            line-height: 100px;
            vertical-align: middle;
        }
        .content {
            margin-top: 50px;
            margin-bottom: 70px;
        }
        .right {
            .row {
                height: 50px;
                line-height: 1.5;
            }
            .map {
                margin-top: 20px;
            }
        }
    }
}