.slick-prev {
    left: 0;
}

.lookbook .slick-next {
    right: 15px;
}

.slick-prev, .slick-next {
    &:hover, &:focus {
        background: none;
    }
}

.slick-dots {
    button {
        margin-bottom: 0;
    }
}

.products {
    .slick-prev, .slick-next {
        &:before, &:after {
            color: #888;
        }
    }
    .slider-for {
        .slide {
            height: 450px;
            width: 100%;
        }
    }
    .slider-nav {
        .slide {
            img {
                max-width: 140px;
                margin: 0 auto;
            }
        }
    }
    .slide {
        text-align: center;
    }
}
