.slick-prev {
    left: 0;
}

.slick-next {
    right: 15px;
}

.slick-prev, .slick-next {
    &:hover, &:focus {
        background: none;
    }
}

.products {
    .slick-prev, .slick-next {
        &:before, &:after {
            color: #888;
        }
    }
}
