= render "top", :category => @category
%section.container.products
  %div.slider.slider-for
    - @category.products.each do | product |
      %div.slide
        %img{src: "#{product.featured_image}"}
  %div.slider.slider-nav
    - @category.products.each do | product |
      %div.slide
        %img{src: "#{product.featured_image}"}
